div.header{
  padding-bottom:0px;
  margin-top:0;
  background-color: #5598cf;
  height: 100px;
  border-bottom:1px;
  border-left: 0px;
  border-right: 0px;
  border-top:1px;
  border-style:solid;
}
div.page{
    height: auto;
    padding-bottom: 15px;
    background-color: 	#5598cf;
    width: 80%;
    margin-left: 10%;
    margin-top:10px;
    border:1px;
    border-color: black;
    border-style: solid;
}

table.content{
    background-color:#2f5473;
    border:2px;
    border-style: solid;
    margin-top:10px;
    margin-left:5%;
    margin-right:5%;
    padding:5px;
    width:90%;
}
th.naslov{
    padding-top:5px;
    padding-left:5px;
    text-align: left;
}
td.datum{
    padding-top:5px;
    padding-right:5px;
    text-align: right;
    width: 20%;
}
td.sadrzaj{
    padding:5px;
    padding-bottom: 10px;
}
tr.last{
    border-top:2px;
    border-style: solid;
    background-color: white;
    
}
td.autor{
    text-align: right;
    padding-right:5px;
}
td.bottom{    
  vertical-align: bottom;
}
a{
    color: black;
}
table {
    border-collapse: collapse;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffcc66;
}
.button1 {background-color: #66ff99;} /* Green */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #2f5473;
  font-family: Arial;
  margin:0;
  padding:0;
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border-style: inset;
  border-color:black;
  border-left:3px solid black;
  border-bottom: 3px solid black;
  outline-style: none;
  color: black;
  padding: 14px 16px;
  background-color: #5598cf;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin-left: 5px; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5598cf;
  border:1px solid black;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*ovo sada je za search bar*/
.search-box{    
    background: #cccccc;
    height: 30px;
    width:180px;
    border-radius: 40px;
    padding-left: 10px;
    padding-top:10px;
    padding-right: 5px;
    border: 1px solid black;
}
.search-btn{
    color:#e84118;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #cccccc;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    padding-bottom:0;
}
.search-txt{
    border:none;
    background: none;
    outline:none;
    float: left;
    padding-top:0;
    color:black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 130px;
    height: 20px;
}

/*rounded menu tabs*/
ul{

}

li {
  vertical-align: bottom;
  color: black;
  border: 1px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
  background:#cccccc;
  padding: 15px;
  display: inline-block;
}
a.li{
    color:black;
    padding: 0;
}
a.li:hover {
    background: transparent;
    font-weight: bold;
}
span.ikonice{
    vertical-align: top;
}

/*Ovo ovde je moj deo diznajna.Smiljana */
#wrapper {
    margin:0 auto;
    width:100%;
    background-color: yellow;
}
#page1 {
    width:calc(50% - 20px);
	float:left;
	background-color:#5598cf;
	margin-top:10px;
	font-weight:bold;
	padding:10px;	
	height:1000px;
}
#page2 
    {   height:1000px;
	width:calc(50% - 20px);
	float:right;
	margin-top:10px;
	padding:10px;
	background-color: #ffcc66;
}
div.kockica {
    background-color: white;
    text-align: center;
    
}
#linkic {
    height: 50px;
    width: 50px;
    
    
}